* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
  direction: rtl;
}
html {
  scroll-behavior: smooth;
}
:root {
  --primarycolor: #1b1c57;
  --secondarycolor: #888b97;
  --heading-size: 2.25rem;
  --font-size: 1.25rem;
  /* --secondarycolor: #f0fafd;
    --hover:#8a8a8a;
    --transition: 0.5s;
    --padding :5px;
    --margin: 25px auto;
     */
}

li {
  list-style: none;
  border: 2px solid #c4c4c4;
  border-radius: 30px;
  padding: 10px 20px;
}
a {
  color: white;
  text-decoration: none;
}
/* begining of navbar */
nav {
  display: flex;
  font-weight: 500;
  position: sticky;
  width: 100%;
  height: 80px;
  z-index: 1;
  color: var(--primarycolor);
  display: flex;
  padding-right: 5%;
  padding-left: 5%;
  justify-content: space-between;
}
.nav__logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
.walletLogo {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
.brandName {
  font-size: 22px;
}

.nav__menu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav__link {
  transition: 0.3s ease;
  color: "fff";
  font-size: 16px;
}

.nav__link:hover {
  color: #babbbd;
}

.hamburger {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  nav {
    align-items: center;
  }
  .nav__menu {
    position: fixed;
    left: 100%;
    top: 80px;
    gap: 0;
    flex-direction: column;
    background-color: var(--primarycolor);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
  }
  .nav__item {
    margin: 16px 0;
  }
  .nav__menu.active {
    left: 0;
  }
  .search__icon {
    display: none;
  }
}

.paragraph {
  font-size: var(--font-size);
}
.heading {
  font-size: var(--heading-size);
  font-weight: bold;
}

/* ending of navbar */

/* begining of introduction */

.introduction {
  display: flex;
  padding-right: 5%;
}

.introduction__paragraph {
  width: 290%;
  color: var(--primarycolor);
  margin-left: 4%;
}

.introduction__paragraph h1 {
  font-size: 36px;
}

.introduction__img {
  width: 100%;
  height: auto;
  position: relative;
  bottom: 140px;
  border-bottom-right-radius: 100px;
}

.introduction__img__tablet {
  display: none;
}

@media screen and (max-width: 1200px) {
  nav {
    padding-right: 5%;
    padding-left: 5%;
  }
  .introduction__img {
    bottom: 100px;
  }
}

@media screen and (max-width: 1024px) {
  nav {
    padding-right: 2%;
    padding-left: 2%;
  }
  .introduction {
    padding-right: 2%;
  }

  .nav__link {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .introduction__img {
    display: none;
  }
  .introduction__img__tablet {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 80%;
    border-radius: 50px;
  }
}

/* end of indroduction */

/* begining of download */

.download__app {
  font-size: 20px;
  color: var(--primarycolor);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  bottom: 50px;
}
.download__app__img {
  display: flex;
  gap: 25px;
}

@media screen and (max-width: 1024px) {
  .download__app {
    margin-top: 30px;
    bottom: 0px;
  }
}

@media screen and (max-width: 425px) {
  .download__app__img {
    flex-direction: column;
  }
}

/* end of download our app */

/* begining of categories */
.categories {
  margin: 20px 5%;
}
.categories__imgs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.categories__img {
  width: 85%;
  height: 100%;
  border-radius: 15px;
}

.income__img {
  position: relative;
}

.income__btn {
  position: absolute;
  top: 75%;
  right: 5%;
  background-color: #fee2e2;
  color: #ef4444;
  font-size: 12px;
  padding: 6px 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .categories__imgs {
    display: flex;
    flex-direction: column;
  }
  .income__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}

@media screen and (max-width: 425px) {
  .income__img {
    width: 90%;
  }
  .income__btn {
    top: 65%;
  }
}

/* about__us begining */

.about__us {
  display: flex;
  align-content: center;
  margin: 100px 5%;
}

.about__us__paragraph__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  margin-bottom: 60px;
}

.why__heading {
  margin-bottom: 10px;
  color: #f59e0b;
}
.about__us__paragraph {
  line-height: 2;
}

.about__us__img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .about__us {
    flex-direction: column;
  }
}

/* Zakah__calculations begining */

.Zakah__calculations {
  display: flex;
  justify-content: center;
  margin: 100px 5%;
}

.Zakah__img {
  width: 150%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Zakah__calculations__paragraph__div {
  margin-right: 20%;
  margin-left: 8%;
}
.Zakah__calculations__paragraph {
  line-height: 2;
}

@media screen and (max-width: 768px) {
  .Zakah__calculations {
    flex-direction: column-reverse;
  }
  .Zakah__img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .Zakah__calculations__paragraph__div {
    margin-right: 15%;
  }
}

/* Zakah__calculations ending */

/* footer begining */

footer {
  margin: 10px 5% 50px;
  display: flex;
  justify-content: space-between;
  gap: 10%;
}

footer div {
  width: 33%;
}

.download__app__footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.footer__heading__download {
  text-align: center;
}

.download__app__imgs__footer {
  width: 100%;
  justify-content: center;
  gap: 10px;
}
.download__app__img__footer {
  width: 45%;
}

.footer__heading {
  font-size: 20px;
  font-weight: bold;
  color: var(--primarycolor);
}

.contact__us__footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__contact {
  display: flex;
  color: var(--secondarycolor);
  gap: 8px;
  align-items: center;
}
.footer__contact p {
  white-space: nowrap; /* Prevent line breaks */
}

@media screen and (max-width: 600px) {
  footer {
    flex-direction: column;
  }
  footer div {
    width: 100%;
  }
  .download__app__footer,
  .contact__us__footer {
    margin-top: 20px;
  }
  .download__app__img__footer {
    width: 30%;
  }
}
