.whole-page {
  margin-top: 50px;
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
}

.custom-table {
  border: 1px solid black;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.custom-table th,
.custom-table td {
  border: 1px solid black;
}

th,
td {
  padding: 10px;
  text-align: center;
}

.logout-btn, .create-btn {
  width: 8%;
  margin-top: 30px;
}
